[Unit]
Description=Octocoin's distributed currency daemon
After=network.target

[Service]
User=octocoin
Group=octocoin

Type=forking
PIDFile=/var/lib/octocoind/octocoind.pid
ExecStart=/usr/bin/octocoind -daemon -pid=/var/lib/octocoind/octocoind.pid \
-conf=/etc/octocoin/octocoin.conf -datadir=/var/lib/octocoind -disablewallet

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
